version: '3.8'
services:
  node-red:
    image: nodered/node-red
    container_name: mon-node-red
    restart: unless-stopped
    ports:
      - "1880:1880"
    volumes:
      - ./data:/data
    environment:
      - TZ=Europe/Paris  
